/* Navbar fixed top styles
-------------------------------------------------- */
body {
  min-height: 100px;
  padding-top: 70px;
}

/* Main marketing message and sign up button */
.jumbotron {
  text-align: center;
  background-color: transparent;
}
.jumbotron .btn {
  padding: 14px 24px;
  font-size: 21px;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}
body {
  /* Margin bottom by footer height */
  margin-bottom: 12em;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 12em;
  background-color: #444;
  color: #ddd;
}
html {
  background-color: #444;
}
.footer small {
  color: #ddd;
}

.copyright {
  height: 11em;
}
.copyright p {
  position: absolute;
  bottom: 0;
}
